// ++++++++++++++++++++++++++++++++++++++++++++++ layout

// some defaults
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  @include type-01;
  text-align: center;
  background: $wl-canvas;
}

svg {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;

  li {
    margin: 0;
    width: 100%;
  }
}

// main container
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.container.wide {
  flex-direction: row;
}

// logo mark header
header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: em(16) em(16) em(12) em(16);
  width: em(58);
  height: em(58);

  svg {
    display: block;
    width: em(24);
  }
}

// action buttons
nav {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;

  button {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: em(6) em(16);
    width: 100%;
    height: em(36);
    color: black;
    border: none;
    background: white;
    outline: none;

    @include hover {
      cursor: pointer;
      background-color: rgba($grey03, 0.5);
    }

    &:active,
    &:focus {
      box-shadow: inset 0 0 0 2px $wl-action-primary;
    }

    span {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: em(24);
    }

    .icon {
      justify-content: center;
      width: em(24);
    }

    .text {
      width: calc(100% - #{em(36)});
      text-align: left;
      line-height: 0.8;
    }

    svg {
      &.icons-bounding {
        rect {
          fill: rgba(255, 102, 85, 0.3); // custom color for bounding box icon
        }
      }

      &.icons-measure {
        width: 95%;
      }
    }
  }
}

// user input layout
#userInput {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  padding: em(16) em(24) em(20) 0;
  width: calc(100% - #{em(60)});

  p,
  h3 {
    margin: 0;
    padding: 0;
    padding-bottom: em(12);
    width: 100%;
  }

  p {
    &:last-child {
      padding-bottom: 0;
    }

    .button {
      cursor: pointer;
      width: em(68);
    }

    &.form-actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-flow: row;
      padding-right: em(6);
      width: 100%;
    }
  }

  h3 {
    padding-top: em(8);
    padding-left: em(8);
    text-align: left;
  }
}
