// ++++++++++++++++++++++++++++++++++++++++++++++ mixins + variables

// shared variables
$z-flyout-controls: 6;
$z-scene-navigator: 5;
$z-status-bar: 5;
$z-list-header-editor: 4;
$z-list-header-group: 3;
$z-list-header-type: 2;

// check Bourbon docs before adding here
// https://www.bourbon.io/docs/latest

// converts `px` to `em`
@function em($pxInt) {
  @return (strip-unit($pxInt) / 16) + 0rem; // stylelint-disable-line length-zero-no-unit
}

// only uses `:hover` when the device supports it
@mixin hover {
  @media (any-hover) {
    &:hover {
      @content;
    }
  }
}
