// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "document": "readonly",
    "figma": "readonly",
    "parent": "readonly",
  },
  settings: {
    "import/extensions": [".js",".jsx",".ts",".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts",".tsx"]
     },
     "import/resolver": {
       "node": {
         "extensions": [".js",".jsx",".ts",".tsx",".svelte"]
       }
     }
  },
  "plugins": [
    "@typescript-eslint",
    "jsdoc",
    "svelte3"
  ],
  "rules": {
    "no-console": "error",
    "no-restricted-globals": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": [
      "error", {
        "allowTernary": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "no-useless-constructor": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "jsdoc/check-alignment": 1,
    "jsdoc/check-examples": 1,
    "jsdoc/check-indentation": 1,
    "jsdoc/check-param-names": 1,
    "jsdoc/check-syntax": 1,
    "jsdoc/check-tag-names": 1,
    "jsdoc/check-types": 1,
    "jsdoc/newline-after-description": 1,
    "jsdoc/no-undefined-types": 1,
    "jsdoc/require-description": 1,
    "jsdoc/require-description-complete-sentence": 1,
    "jsdoc/require-param": 1,
    "jsdoc/require-param-description": 1,
    "jsdoc/require-param-name": 1,
    "jsdoc/require-param-type": 1,
    "jsdoc/require-returns": 1,
    "jsdoc/require-returns-check": 1,
    "jsdoc/require-returns-description": 0,
    "jsdoc/require-returns-type": 1,
    "jsdoc/valid-types": 1,
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": true,
        "object": true
      },
      "AssignmentExpression": {
        "array": false,
        "object": false
      }
    }, {
      "enforceForRenamedProperties": false
    }],
    "lines-between-class-members": [
      "error",
      "always", {
        "exceptAfterSingleLine": true
      }
    ],
    "import/extensions": ["error", "ignorePackages", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never",
      "svelte": "never"
    }]
  },
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3",
      "rules": {
        "import/first": 0,
        "import/no-mutable-exports": 0,
        "import/prefer-default-export": 0
      }
    }
  ]
}
