.user-input.color-selector {
  padding: 4px 8px;
  margin: 2px 8px 0 8px;
  align-items: flex-start;
  width: 95.75%;
  height: 100%;
  justify-content: space-between;

  .content-wrapper {
    padding: 5px 0;
  }

  .instructions {
    text-align: left;
    margin: 5px 0;
  }

  .options-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .color-list {
    display: flex;
    flex-direction: column;
    font-size: 11px;
  }

  .orientation-grid {
    width: 50%;
    padding: 20px 25px 30px 25px;
    display: grid;
    grid-gap: 5px;
    grid-template-areas:
      "topleft topmiddle topright"
      "middleleft middlecenter middleright"
      "bottomleft bottommiddle bottomright";

    .orientation-btn {
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.up-btn {
        grid-area: topmiddle;
      }

      &.down-btn {
        grid-area: bottommiddle;
      }

      &.left-btn {
        grid-area: middleleft;
      }

      &.right-btn {
        grid-area: middleright;
      }
    }

    .center-design {
      grid-area: middlecenter;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .swatch-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
  }

  label.selected {
    font-weight: 600;
  }

  .form-actions {
    padding: 8px 12px;
  }

  input[type="radio"] {
    position: relative;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 8px;
  }

  input[type="radio"]:checked:before {
    border: 3px solid #111;
  }

  /* The "background" - white background with gray border. */
  input[type="radio"]:before {
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-radius: 4px;
    background-color: #fff;
  }

  /* The "foreground" - color "square". */
  input[type="radio"]:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 14.5px;
    height: 14.5px;
    border-radius: 2px;
  }

  input[type="radio"][value="#6255ca"]:after {
    background: #6255ca;
  }

  input[type="radio"][value="#c8006a"]:after {
    background: #c8006a;
  }

  input[type="radio"][value="#4c7100"]:after {
    background: #4c7100;
  }

  input[type="radio"][value="#0066bf"]:after {
    background: #0066bf;
  }

  input[type="radio"][value="#bc3600"]:after {
    background: #bc3600;
  }

  input[type="radio"][value="#007373"]:after {
    background: #007373;
  }

  input[type="radio"][value="#4c934f"]:after {
    background: #4c934f;
  }
}
