.user-input.color-selector {
  padding: 4px 8px;
  margin: 2px 8px 0 8px;
  align-items: flex-start;
  width: 95.75%;
  height: 100%;
  justify-content: space-between;

  .content-wrapper {
    padding-top: 5px;

    .instructions {
      text-align: left;
      padding: 0;
    }
  }

  .options-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .half-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;

      h2 {
        font-weight: 600;
        color: $wl-ctrl-primary;
        margin: 14px 0 4px 0;
      }

      &.orientation h2 {
        width: 100%;
        text-align: center;
      }
    }
  }

  .color-radios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 11px;
    min-width: 70%;

    .color-radio {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 3px 6px 3px 3px;
      margin: 4px 0;

      &:active, &:focus {
        outline: 2px solid royalblue;
      }

      &:hover {
        background: rgba(128, 128, 128, 0.1);
        border-radius: 2px;
        cursor: pointer;
      }
    }

    input[type="radio"] {
      display: none;

      + label {
        @include type-02;
        color: #333;
        cursor: pointer;

        span {
          display: inline-block;
          width: 14px;
          height: 14px;
          margin-right: 4px;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 2px;
          background-repeat: no-repeat;
          background-position: center;

          svg {
            opacity: 0;
            font-size: 10px;
            width: 12px;
            height: 14px;
            padding-left: 2px;
          }
        }
      }

      &:checked + label span svg {
        opacity: 1;
      }
    }

    .component {
      background-color: #6255ca;
    }

    .custom {
      background-color: #c8006a;
    }

    .size {
      background-color: #4c7100;
    }

    .style {
      background-color: #bc3600;
    }

    .spacing {
      background-color: #007373;
    }
  }

  .orientation-radios {
    width: 100%;
    padding: 20px 30px 30px 30px;
    display: grid;
    grid-gap: 5px;
    /* stylelint-disable-next-line declaration-colon-space-after */
    grid-template-areas:
      "topleft topmiddle topright"
      "middleleft middlecenter middleright"
      "bottomleft bottommiddle bottomright";

    .orientation-radio {
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 6px 4px;
      cursor: pointer;
      // height: 30px;
      // width: 36px;

      // &:hover {
      //   background: rgba(128, 128, 128, 0.1);
      // }

      &.up {
        grid-area: topmiddle;
      }

      &.down {
        grid-area: bottommiddle;
      }

      &.left {
        grid-area: middleleft;
      }

      &.right {
        grid-area: middleright;
      }
    }

    input[type="radio"] {
      display: none;

      + label {
        cursor: pointer;
      }
    }

    .center-design {
      grid-area: middlecenter;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: none;
      }
    }
  }

  .form-actions {
    padding: 0 0 12px 0;
  }
}
