.expand-collapse-container {
  color: #f0f0f0;
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-top: 10px;
  background: #f0f0f0;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;

  #{$all-buttons} {
    &.item-toggle {
      @include button-icon(
        $wl-action-secondary-accent,
        16,
        $wl-action-tertiary-accent,
      );
      width: em(32);
      height: em(32);

      // keep expanded toggle visible
      &.action-open-close {
        transform: rotate(-90deg);

        &.open {
          transform: rotate(0);
        }
      }

      .text {
        @include hide-visually;
      }
    }
  }
}

.expand-collapse-content {
  padding: 0 15px 10px 30px;
}

.expand-collapse-header {
  display: flex;
  align-items: center;
  color: rgb(113, 113, 113);
  cursor: pointer;
  padding: 0 12px;
}

.isOpen {
  font-weight: 600;
}
