// ++++++++++++++++++++++++++++++++++++++++++++++ footer bar

.footer-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 10px;
  width: 100%;
  height: em(32);
  background: $wl-ctrl-primary;
  color: white;
  overflow: hidden;
  border: 0;
  outline: none;
  z-index: 1;

  .info-icon {
    background: none;
    border: none;
    cursor: pointer;
  }

  .question-circle {
    fill: white;
    height: 16px;
    width: 16px;
    opacity: 0.9;
  }

  .label-text {
    color: white;
    margin-left: 14px;
    opacity: 0.95;
  }

  .text {
    display: none;
  }

  .switch {
    opacity: 0.95;

    .switch__toggle {
      &:checked + label {
        &:after,
        &:before {
          border-color: $white;
          background: $black;
        }

        &:before {
          background: $white;
        }
      }
    }

    .switch__label {
      &:after,
      &:before {
        border-color: $white;
        background: $black;
      }
    }
  }

  @include hover {
    cursor: pointer;

    .icon {
      transition-delay: 200ms;

      &:before {
        transform: translateY(#{em(-4)});
        transition-delay: 200ms;
      }
    }
  }

  &:focus {
    .icon {
      &:before {
        transform: translateY(#{em(-4)});
      }
    }
  }

  &.info-open {
    display: none;
  }
}

.info-panel {
  width: 100%;
  height: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: em(30) em(20) em(14) em(20);
    width: 100%;

    svg {
      display: block;
      margin-bottom: em(8);
      width: em(52);
    }

    h1 {
      @include type-03;
      margin: 0;
    }

    h4 {
      @include type-02;
      margin: em(3) 0 0 0;
    }
  }

  article {
    p,
    ul {
      margin: 0 0 em(14) 0;

      a {
        color: $wl-action-primary;
        text-decoration: none;

        &:active {
          color: $wl-ctrl-primary;
          text-decoration: none;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: em(16);
    width: 100%;

    p {
      margin: 0;
    }
  }
}
