// ++++++++++++++++++++++++++++++++++++++++++++++ list item content

@mixin list-item-content {
  padding: 0 0 em(6) 0;
  border-left: 4px solid rgba($wl-accent, 0);

  &.isSelected {
    border-left: 4px solid rgba($wl-accent, 1);
  }
}

@mixin list-item-content-keyboard {
  @include list-item-content;

  ul {
    margin: 0;

    &.keys-list {
      padding: 0 em(22) 0 em(44);
      list-style-type: none;

      li {
        &.keys-item {
          .form-element-holder {
            .form-inner-row {
              width: calc(100% - #{em(46)});
            }
          }

          &.init {
            .styled-select__button {
              color: $wl-type-02;

              @include hover {
                color: $wl-type-01;
              }
            }
          }
        }
      }
    }
  }
}

@mixin list-item-content-labels {
  @include list-item-content;

  .form-element-holder {
    display: block;
    padding: 0 0 0 em(44);
    width: calc(100% - #{em(35)});

    .form-row {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;

      &.slim {
        width: 115px;

        &.light {
          opacity: 0.5;
        }
      }

      .form-label {
        width: em(104);
      }
    }

    &.inline {
      display: flex;
      padding-left: 15px;

      .form-row {
        margin-right: 5px;
      }
    }
  }
}

.items-list {
  margin: 0 0 em(6) 0;

  .single-item {
    border-bottom: 1px solid rgba($wl-accent-tertiary, 1);
  }

  .item-content {
    &.a11y-keyboard {
      @include list-item-content-keyboard;
    }

    &.a11y-labels,
    &.a11y-headings,
    &.a11y-misc {
      @include list-item-content-labels;
    }
  }
}
