<div class="container">
  <div class="transition-mask"></div>
  <button class="info-trigger" id="info">
    <span class="icon"></span>
    <span class="text">Specter Info</span>
  </button>
  <section id="main">
    <nav id="actions">
      <ul>
        <li>
          <button id="annotate">
            <span class="icon">
              <svg viewBox="0 0 21 18" class="icons-annotate">
                <path d="M2,13H8.17l2.39,2.32L13.4,13H19V2H2ZM0,0H21V15H14.11l-3.66,3L7.36,15H0Z"/>
              </svg>
            </span>
            <span class="text">
              Annotate
            </span>
          </button>
        </li>
        <li>
          <button id="measure">
            <span class="icon">
              <svg viewBox="0 0 19 18" class="icons-measure">
                <polygon points="12 18 10 18 10 9 0 9 0 7 12 7 12 18"/>
                <polygon points="6 5 7 5 7 6 4 6 4 5 5 5 5 1 4 1 4 0 7 0 7 1 6 1 6 5"/>
                <polygon points="14 13 14 14 13 14 13 11 14 11 14 12 18 12 18 11 19 11 19 14 18 14 18 13 14 13"/>
              </svg>
            </span>
            <span class="text">
              Measure
            </span>
          </button>
        </li>
        <li>
          <button id="bounding">
            <span class="icon">
              <svg viewBox="0 0 21 18" class="icons-bounding">
                <path d="M2,16H19V2H2ZM0,0H21V18H0Z"/>
                <rect width="21" height="18"/>
              </svg>
            </span>
            <span class="text">
              Bounding Box
            </span>
          </button>
        </li>
      </ul>
    </nav>
  </section>

  <section id="userInput" style="display: none;">
    <h3>
      Set the annotation’s text…
    </h3>
    <p>
      <input type="text" class="input" placeholder="Write something…">
    </p>
    <p class="form-actions">
      <button class="button button--secondary button--margin-right" id="userInput-cancel">Cancel</button>
      <button class="button button--primary" id="userInput-submit">Set</button>
    </p>
  </section>

  <section id="infoPanel" style="display: none;">
    <header>
      <svg viewBox="0 0 270 360">
        <path d="M202.645579,269.564282 L135.097052,359.419042 L67.5485262,269.564282 L1.36424205e-12,314.491662 L1.36424205e-12,269.564282 L1.36424205e-12,135.097052 C1.326683e-12,60.4850106 60.4850106,1.37060097e-14 135.097052,0 C209.709094,-1.37060097e-14 270.194105,60.4850106 270.194105,135.097052 L270.194105,269.564282 L270.194105,314.491662 L202.645579,269.564282 Z" id="Combined-Shape" fill="#3399FF"></path>
        <ellipse fill="#FFFFFF" cx="73.1775701" cy="134.782141" rx="45.0323508" ry="44.9273803"></ellipse>
        <ellipse fill="#FF3399" cx="84.4356578" cy="146.013986" rx="16.8871316" ry="16.8477676"></ellipse>
        <ellipse fill="#FFFFFF" cx="197.016535" cy="134.782141" rx="45.0323508" ry="44.9273803"></ellipse>
        <ellipse fill="#FF3399" cx="208.274623" cy="146.013986" rx="16.8871316" ry="16.8477676"></ellipse>
        <path d="M101.322789,207.789134 L168.871316,207.789134 L168.871316,196.557289 L180.129403,196.557289 L180.129403,230.252824 L168.871316,230.252824 L168.871316,219.020979 L101.322789,219.020979 L101.322789,230.252824 L90.0647017,230.252824 L90.0647017,196.557289 L101.322789,196.557289 L101.322789,207.789134 Z" id="Combined-Shape" fill="#FFFFFF"></path>
      </svg>
      <h1>
        Specter
      </h1>
      <h4>
        <span class="external">
          ©2020 LinkedIn. <br/>
          All rights reserved.
        </span>
        <span class="internal" style="display: none">
          for LinkedIn <br/>
          (Internal Build)
        </span>
      </h4>
    </header>
    <article class="external">
      <p>
        <a href="mailto:designtools@linkedin.com?subject=Specter Feedback" target="_blank">designtools@linkedin.com</a>
      </p>
      <ul>
        <li>
          <a href="https://www.linkedin.com/legal/eula" target="_blank">End User License Agreement</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/legal/privacy-policy" target="_blank">Privacy Policy</a>
        </li>
      </ul>
    </article>
    <article class="internal" style="display: none">
      <p>Built by the Design Tools Team</p>
      <p>
        Join us in Slack: <br />
        #ued-tool-specter
      </p>
    </article>
    <footer>
      <p class="form-actions">
        <button class="button button--secondary button--margin-right" id="info-hide">Back</button>
      </p>
    </footer>
  </section>
</div>
