* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: normal 400 11px/16px Inter, Roboto, sans-serif; /* default stack from Figma */
  text-align: center;
}

svg {
  display: block;
  width: 100%;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.container.wide {
  flex-direction: row;
}

#main {
  width: 100%;
}

#main nav {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 8px 0 8px 0;
  width: 100%;
}

#main nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

#main nav ul li {
  margin: 0;
  width: 100%;
}

#main nav button {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 6px 16px;
  width: 100%;
  height: 36px;
  color: black;
  border: none;
  background: white;
  outline: none;
}

#main nav button:hover {
  cursor: pointer;
  background-color: #f6f6f6;
}

#main nav button:active,
#main nav button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}

#main nav button span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
}

#main nav button .icon {
  justify-content: center;
  width: 24px;
}

#main nav button .text {
  width: calc(100% - 36px);
  text-align: left;
  line-height: 0.8;
}

#main nav button svg.icons-bounding rect {
  fill: rgba(255, 102, 85, 0.3);
}

#main nav button svg.icons-measure {
  width: 95%;
}

#main .info-trigger {
  display: flex;
  align-items: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 14px;
  overflow: hidden;
  background: none;
  border: 0;
  outline: none;
}

#main .info-trigger .icon {
  display: block;
  position: absolute;
  align-self: flex-end;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: black;
}

#main .info-trigger .icon::before {
  content: '';
  position: absolute;
  right: 20px;
  margin-top: -4px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid black;
  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

#main .info-trigger:hover {
  cursor: pointer;
}

#main .info-trigger:hover .icon {
  background: #18a0fb;
}

#main .info-trigger:hover .icon::before {
  transform: translateY(-4px);
  border-bottom-color: #18a0fb;
}

#main .info-trigger .text {
  display: none;
}

/* user input */

#userInput {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  padding: 16px 24px 20px 0;
  width: calc(100% - 60px);
}

#userInput p,
#userInput h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  width: 100%;
}

#userInput p:last-child {
  padding-bottom: 0;
}

#userInput h3 {
  padding-top: 8px;
  padding-left: 8px;
  text-align: left;
}

#userInput p .button {
  cursor: pointer;
  width: 68px;
}

#userInput p.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row;
  padding-right: 6px;
  width: 100%;
}

/* info panel */

#infoPanel header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 16px 12px 16px;
  width: 58px;
  height: 58px;
}

#infoPanel header svg {
  display: block;
  width: 24px;
}

/*
  buttons and input boilerplate
  source: Tom Lowry's Figma UI JS/CSS files
  link: https://www.figma.com/plugin-docs/figma-components/

  Comment any modifications for easier future updates.
  `stylelint` disabled to preserve original source code
*/

/* stylelint-disable */

.button {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 1px 0 1px 0;
  padding: 5px 16px 5px 16px;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
}

.button--primary {
  color: #ffffff;
  background-color: #18a0fb;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.button--primary:enabled:active, .button--primary:enabled:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.button--primary:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.button--primary-destructive {
  color: #ffffff;
  background-color: #f24822;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.button--primary-destructive:enabled:active, .button--primary-destructive:enabled:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.button--primary-destructive:disabled {
  opacity: .4;
}

.button--secondary {
  padding: 6px 16px 6px 16px; /* modification */
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.button--secondary:enabled:active, .button--secondary:enabled:focus {
  /* padding: 4px 15px 4px 15px; */
  padding: 5px 15px 5px 15px; /* modification */
  border: 2px solid #18a0fb;
}

.button--secondary:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.button--secondary-destructive {
  color: #f24822;
  border: 1px solid #f24822;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.button--secondary-destructive:enabled:active, .button--secondary-destructive:enabled:focus {
  padding: 4px 15px 4px 15px;
  border: 2px solid #f24822;
}

.button--secondary-destructive:disabled {
  opacity: .4;
}

.button--margin-right {
  margin-right: 8px;
}

.input {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 8px 4px 8px 7px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  background-color: #ffffff;
}

.input:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input::-moz-selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input::selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid transparent;
}

.input:not(:disabled):not(:hover):placeholder-shown {
  border: 1px solid transparent;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAcAAAAABCAYAAABJ5n7WAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgSURBVHgB7cMBCQAACMTAiR3sX1TQHr+DK2B+I0lSjj29qAEYlIbeBgAAAABJRU5ErkJggg==");
  background-repeat: no-repeat;
  background-position: center bottom -0.9px;
  background-size: calc(100% - 10px) 1px;
}

.input:not(:disabled):focus:placeholder-shown {
  border: 2px solid #18a0fb;
}

.input:not(:disabled):focus:not(:placeholder-shown) {
  padding-left: 6px;
}

.input:disabled:hover {
  border: 1px solid transparent;
}

.input:active, .input:focus {
  padding: 8px 4px 8px 6px;
  color: #000000;
  border: 2px solid #18a0fb;
  border-radius: 2px;
}

.input:disabled {
  position: relative;
  color: rgba(0, 0, 0, 0.3);
}

.input:disabled:active {
  padding: 8px 4px 8px 7px;
}
/* stylelint-enable */
